<div class="container">
  <header>
    <h1>Game of Thrones: <span>The Houses</span></h1>
    
  </header>
  
  <div class="buttons">
    <app-button
    *ngFor="let house of data"
    [houseName]=house.name
    (choosenHouseName)="selectedHouseName = house.name"
    (choosenHouse)="selectedHouse = house"
    (getHouse)="(getHouse())"
    >
    </app-button>
  </div>

  <div *ngIf="selectedHouseName" class="house-details">
    <p *ngIf="selectedHouseName">House: {{selectedHouseName}}</p>
    <p *ngIf="region">Region: {{region}}</p>
    <p *ngIf="coatOfArms">Coat of Arms: {{coatOfArms}}</p>
    <p *ngIf="words">Words: {{words}}</p>
   
  </div>

</div>